<!-- Modal -->
<div
  class="modal fade"
  id="add-modal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Tambah Data Berita Baru
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/berita/2" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="newsapi">News API</label>
            <select name="newsId" class="form-control">
              <option value="okezone-news">Okezone News</option>
              <option value="vice">Vice Indonesia</option>
            </select>
          </div>
          <div class="form-group">
            <label for="kategori">Kategori</label>
            <select name="kategoriId" class="form-control">
              <% for (let i = 0; i < kategori.length; i++) { %>
              <option value="<%= kategori[0].id %>">
                <%= kategori[0].jenis %>
              </option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Tambah</button>
        </div>
      </form>
    </div>
  </div>
</div>
