<div
  class="tab-pane fade show active"
  id="show-berita"
  role="tabpanel"
  aria-labelledby="nav-home-tab"
>
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Judul</th>
              <th>Isi</th>
              <th>Tanggal</th>
              <th>Image URL</th>
              <th>News URL</th>
              <th>Kategori</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
